*{
    font-family: 'Inter';
    font-size: 28px;
    padding:0;
    margin: 0;
    box-sizing: border-box;
    line-height: 150%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: #F3F5FC;

}
main{
    margin: auto;
    height: 100%;
    width: 90%;
    display: flex;
}
.section1{
    width: 70%;
}

.logo{
    margin-top: 30px;
}
.logo img{
    width: 80px;
    height: 48px;
}
.section2{
    width: 30%;
    margin-top: 30px;
    margin-bottom: 30px;
    background: white;
    border-radius: 24px;
    position: relative;
    display: flex;

}
.image_container{
    margin-top: 150px;
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
}
.image_container img{
    width: 80%;
    height: 250px;
}
.section1 {
    position: relative; /* Esto hace que la posición de los elementos hijos se base en este contenedor */
    height: 100%; /* Asegúrate de que section1 tenga una altura definida */
}

.buttons {
    display: flex;
    width: 100%;
    position: absolute; /* Esto saca a .buttons del flujo normal del documento y permite que lo posicionemos en cualquier lugar de section1 */
    bottom: 0; /* Esto coloca a .buttons en la parte inferior de section1 */
    margin-bottom: 30px;
    padding: 20px;
    justify-content: space-around;
}
.btn{
margin-bottom: 0;
    display: none;
}
.btn-desencriptar{
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
}
.btn-encriptar{
    background: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 328px;
}
.btn-copiar{
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    width: 336px;
    margin: auto;
}
.image_container p{
    text-align: center;
}
.sin_mensajes{
    font-weight: 700;
}
.ingresar_texto{
    font-weight: 400;
    font-size: 16px;
}

.textarea{
    width: 100%;
    height: 70%;
    border: none;
    color: #0A3871;
    text-transform: lowercase;
    background: transparent;
    resize: none;
    padding: 20px;

}
::placeholder{
    color: #0A3871;
}
.textarea:focus,.mensaje:focus{
    outline: none;
}
.mensaje{
     border: none;
    color: #0A3871;
    margin: 10px;
    display: none;
    min-height: 150px;
}
.informacion{
    color: #495057;
    font-size: 18px;
}
/* Para iPad en modo retrato y apaisado: */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .logo{
        margin-top: 10px;
    }
    main{
        flex-direction: column;
    }
    .section1,.section2,.mensaje{
        width: 100%;
    }
    .section1{
        height: 70%;
    }
    .section2{
        height: 30%;
    }
    .buttons{
        margin-bottom: 0;
    }
    .image_container{
        margin-top: 20px
    }
    .image_container img{
        display: none;
    }
    .btn-copiar,.btn-encriptar,.btn-desencriptar{
        width: 100%;
    }
    .btn-desencriptar{
        margin-left: 0;
    }
}

/* Para iPad en modo apaisado: */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .logo{
        margin-top: 10px;
    }
    main{
        flex-direction: column;
    }
    .section1,.section2,.mensaje{
        width: 100%;
    }
    .section1{
        height: 70%;
    }
    .section2{
        height: 30%;
    }
    .buttons{
        flex-direction: column;
        margin-bottom: 0;
    }
    .image_container{
        margin-top: 20px
    }
    .image_container img{
        display: none;
    }
    .btn-copiar,.btn-encriptar,.btn-desencriptar{
        width: 100%;
    }
    .btn-desencriptar{
        margin-left: 0;
    }
}

/* Para iPad en modo retrato: */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .logo{
        margin-top: 10px;
    }
    main{
        flex-direction: column;
    }
    .section1,.section2,.mensaje{
        width: 100%;
    }
    .section1{
        height: 70%;
    }
    .section2{
        height: auto;
    }
    .buttons{
        margin-bottom: 0;
    }
    .image_container{
        margin-top: 20px;
        margin-bottom: 20px
    }
    .image_container img{
        display: none;
    }
    .btn-copiar,.btn-encriptar,.btn-desencriptar{
        width: 100%;
    }
    .btn-desencriptar{
        margin-left: 0;
    }
}

@media (max-width: 600px) {
    .logo{
        margin-top: 10px;
    }
    main{
        flex-direction: column;
    }
    .section1,.section2,.mensaje{
        width: 100%;
    }
    .section1{
        height: 70%;
    }
    .section2{
        height: auto;
    }
    .buttons{
        flex-direction: column;
        margin-bottom: 0;
        padding: 5%;
    }
    .informacion{
        font-size: 12px;
    }
    .btn-encriptar{
        margin-bottom: 10px;
    }
    .textarea{
        height: 58%;
    }
    .image_container{
        margin-top: 20px
    }
    .image_container img{
        display: none;
    }
    .btn-copiar,.btn-encriptar,.btn-desencriptar{
        width: 100%;
        height: 30px;
    }
    .btn-desencriptar{
        margin-left: 0;
    }
    *{
        font-size: 18px;
    }
}


